@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Space+Grotesk:wght@400;500;700&display=swap");
html {
  height: 100%; }

body {
  height: 100%;
  background: #121212;
  color: #fffdef;
  font-family: "Space Grotesk", sans-serif; }

.bold {
  font-weight: bold; }

p,
a {
  margin: 0;
  color: #fffdef; }

a {
  text-decoration: none;
  color: #40ef6f;
  transition: 0.6s all; }

a:hover {
  color: #f24398;
  transition: 0.6s all; }

.main-text {
  font-size: 14px; }

.navbar-brand:active,
.navbar-brand:hover,
.navbar-brand:focus {
  color: #40ef6f; }

.navbar {
  grid-area: header; }
  .navbar .nav-link {
    color: #fffdef;
    font-weight: 500;
    text-transform: uppercase; }
  .navbar .nav-link.active {
    color: #fffdef;
    text-decoration: underline; }

.nav-link:active,
.nav-link:hover,
.navlink:focus {
  color: #f24398; }

.nav-link.active:hover {
  color: #f24398; }

.navbar-brand {
  text-transform: uppercase;
  color: #fffdef; }

.fa-bars {
  color: #fffdef;
  transition: 0.6s all; }

.fa-brands:hover {
  color: #f24398;
  transition: 0.6s all; }

.navbar-toggler {
  border: none; }

.main-video {
  display: block;
  margin: auto; }

.about {
  justify-content: flex-start;
  padding: 40px 0;
  flex-direction: column; }

.iframe-div {
  width: 100%; }

@media (min-width: 622px) and (min-height: 450px) {
  .iframe-div {
    position: relative;
    width: 66%;
    margin: 1rem auto;
    max-width: 800px; } }
