@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap");

$main-font: "Space Grotesk", sans-serif;
$font-color: #fffdef;
$background-color: #121212;

html {
  height: 100%;
}

body {
  height: 100%;
  background: $background-color;
  color: $font-color;
  font-family: $main-font;
}

.bold {
  font-weight: bold;
}

p,
a {
  margin: 0;
  color: $font-color;
}

a {
  text-decoration: none;
  color: $font-color;
  transition: 0.6s all;
}

a:hover {
  color: #f24398;
  transition: 0.6s all;
}

.main-text {
  font-size: 14px;
}

.navbar-brand:active,
.navbar-brand:hover,
.navbar-brand:focus {
  color: #9df9b6;
}

.navbar {
  grid-area: header;
  .nav-link {
    color: $font-color;
    text-transform: uppercase;
  }

  .nav-link.active {
    color: $font-color;
    text-decoration: underline;
  }
}

.nav-link:active,
.nav-link:hover,
.navlink:focus {
  color: #f24398;
}

.nav-link.active:hover {
  color: #f24398;
}

.navbar-brand {
  text-transform: uppercase;
  color: $font-color;
}

.fa-bars {
  color: $font-color;
  transition: 0.6s all;
}

.fa-brands:hover {
  color: #f24398;
  transition: 0.6s all;
}

.navbar-toggler {
  border: none;
}

.main-video {
  display: block;
  width: 100%;
  height: 40%;
  // margin: auto;
}

.about {
  justify-content: flex-start;
  padding: 40px 0;
  flex-direction: column;
}

@media (min-width: 622px) and (min-height: 450px) {
  .main-video {
    width: 666.66px;
    min-height: 380px;
    margin: 1rem auto;
  }
}
