@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  height: 100%; }

body {
  height: 100%;
  background: #121212;
  color: #fffdef; }

.bold {
  font-weight: bold; }

p,
a {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #fffdef; }

a {
  text-decoration: none;
  color: #fffdef; }

.main-text {
  font-size: 14px; }

.navbar-brand:active,
.navbar-brand:hover,
.navbar-brand:focus {
  color: #9df9b6; }

.navbar {
  grid-area: header; }
  .navbar .nav-link {
    color: #fffdef;
    text-transform: uppercase; }
  .navbar .nav-link.active {
    color: #fffdef;
    text-decoration: underline; }

.nav-link:active,
.nav-link:hover,
.navlink:focus {
  color: #f24398; }

.nav-link.active:hover {
  color: #f24398; }

.navbar-brand {
  text-transform: uppercase;
  color: #fffdef; }

.fa-bars {
  color: #fffdef; }

.fa-brands:hover {
  color: #f24398; }

.navbar-toggler {
  border: none; }

.main-video {
  display: block;
  width: 100%;
  height: 40%;
  margin: auto; }

.about {
  justify-content: flex-start;
  padding: 40px 0;
  flex-direction: column; }

@media (min-width: 622px) and (min-height: 450px) {
  .main-video {
    width: 666.66px;
    min-height: 380px;
    margin: 1rem auto; } }
