@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$main-font: "Roboto", sans-serif;
$font-color: #fffdef;
$background-color: #202020;

html {
  height: 100%;
}

body {
  height: 100%;
  background: $background-color;
  color: $font-color;
}

.bold {
  font-weight: bold;
}

p,
a {
  font-family: $main-font;
  margin: 0;
  color: $font-color;
}

a {
  text-decoration: none;
  color: $font-color;
}

.navbar {
  grid-area: header;
  .nav-link {
    color: $font-color;
    text-transform: uppercase;
  }

  .nav-link.active {
    color: $font-color;
    text-decoration: underline;
  }
}

.navbar-brand {
  text-transform: uppercase;
  color: $font-color;
}

.fa-bars {
  color: $font-color;
}

.navbar-toggler {
  border: none;
}

.main-video {
  display: block;
  width: 100%;
  height: 40%;
  margin: auto;
}

.about {
  justify-content: flex-start;
  padding: 40px 0;
  flex-direction: column;
}

@media (min-width: 622px) and (min-height: 450px) {
  .main-video {
    width: 66%;
    height: 66%;
    margin: auto;
  }
}
